<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add Dog</h1>
    <div>
        <form action="" method="post">
            Name:
            <input type="text" name="name" placeholder="Enter your dog name" required/>
            <br/>
            <br/>
            Ownername:
            <input type="text" name="ownername" placeholder="Enter your name" required/>
            <br/>
            <br/>
            Breed:
            <input type="text" name="breed" placeholder="Enter your dog breed" required/>
            <br/>
            <br/>
            Email:
            <input type="email" name="email" placeholder="Enter your email" required/>
            <br/>
            <br/>
            City:
            <input type="text" name="city" placeholder="Enter your city" required/>
            <br/>
            <br/>
            Pincode:
            <input type="text" name="pincode" placeholder="Enter your pincode" required/>
            <br/>
            <br/>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>